@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HelloWorld</h1>
    <p class="lead">Lorem Ipsum Dolor Sit Amet.</p>
    <p>@Html.ActionLink("Get Started »", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg"})</p>
</div>